LANCEDB_URI={{ lancedb_database_path }}
LANCEDB_TABLE={{ lancedb_table_name }}
LANCEDB_VECTOR_DIMENSIONS={{ lancedb_vector_dimensions }}
LANCEDB_BIND_HOST={{ lancedb_bind_host }}
LANCEDB_PORT={{ lancedb_service_port }}
LANCEDB_WORKERS={{ lancedb_service_workers | default(1) }}
LANCEDB_GRPC_PORT={{ lancedb_grpc_service_port }}
LANCEDB_GRPC_MAX_WORKERS={{ lancedb_grpc_max_workers | default(64) }}

OCI_AUTH={{ lancedb_oci_auth }}
OCI_BUCKET={{ lancedb_oci_bucket }}
LANCEDB_INGESTION_BIND_HOST=0.0.0.0
LANCEDB_INGESTION_WORKER_PORT={{ lancedb_ingestion_worker_port }}
LANCEDB_INGESTION_QUEUE_ID={{ lancedb_ingestion_queue_id }}
LANCEDB_INGESTION_QUEUE_ENDPOINT={{ lancedb_ingestion_queue_endpoint }}
LANCEDB_SOURCE_ROUTES_PATH=/etc/lancedb-search/source-routes.json
LANCEDB_INGESTION_WORKER_ENDPOINTS={{ groups['lancedb_search'] | map('extract', hostvars, 'ansible_host') | map('regex_replace', '^(.*)$', 'http://\\1:' ~ lancedb_ingestion_worker_port) | list | to_json }}
