LANCEDB_URI={{ lancedb_database_path }}
LANCEDB_TABLE={{ lancedb_table_name }}
LANCEDB_VECTOR_DIMENSIONS={{ lancedb_vector_dimensions }}
LANCEDB_BIND_HOST={{ lancedb_bind_host }}
LANCEDB_PORT={{ lancedb_service_port }}

OCI_AUTH={{ lancedb_oci_auth }}
OCI_BUCKET={{ lancedb_oci_bucket }}
